<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidbasic_musquad">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasic_MUSQUAD"
        tools:targetApi="31">
        <activity
            android:name=".AntonyActivity"
            android:exported="false" />
        <activity
            android:name=".RonaldoActivity"
            android:exported="false" />
        <activity
            android:name=".RashfordActivity"
            android:exported="false" />
        <activity
            android:name=".Information2Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name=".SelectActivity"
            android:exported="false" />
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Image11Activity"
            android:exported="false" />
        <activity
            android:name=".Image10Activity"
            android:exported="false" />
        <activity
            android:name=".Image9Activity"
            android:exported="false" />
        <activity
            android:name=".Image8Activity"
            android:exported="false" />
        <activity
            android:name=".Image7Activity"
            android:exported="false" />
        <activity
            android:name=".Image6Activity"
            android:exported="false" />
        <activity
            android:name=".Image5Activity"
            android:exported="false" />
        <activity
            android:name=".Image4Activity"
            android:exported="false" />
        <activity
            android:name=".Image3Activity"
            android:exported="false" />
        <activity
            android:name=".Image2Activity"
            android:exported="false" />
        <activity
            android:name=".Image1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>